# Temporary files
server/*.o
server/*.d
server/*.lo
server/*.la
server/*.slo
server/*.swp
server/.libs
server/djb

# Debian 'make deb' files
debian/files
debian/saferdefiance-jumpbox.debhelper.log
debian/saferdefiance-jumpbox.substvars
debian/saferdefiance-jumpbox/

