# Temporary files
*.o
*.d
*.lo
*.la
*.slo
*.swp
/server/.libs
/server/djb

# Debian 'make deb' files
debian/files
debian/saferdefiance-jumpbox-chromium-plugin.debhelper.log
debian/saferdefiance-jumpbox-chromium-plugin.substvars
debian/saferdefiance-jumpbox-chromium-plugin/
debian/saferdefiance-jumpbox-daemon.debhelper.log
debian/saferdefiance-jumpbox-daemon.postinst.debhelper
debian/saferdefiance-jumpbox-daemon.postrm.debhelper
debian/saferdefiance-jumpbox-daemon.substvars
debian/saferdefiance-jumpbox-daemon/
debian/saferdefiance-jumpbox-daemon-dbg.debhelper.log
debian/saferdefiance-jumpbox-daemon-dbg.substvars
debian/saferdefiance-jumpbox-daemon-dbg/
