#!/usr/bin/make -f

%:
	dh $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=saferdefiance-jumpbox-daemon-dbg

override_dh_auto_clean:
	make clean

override_dh_auto_build:
	make all

override_dh_auto_install:
	# DAEMON (djb)
	dh_installinit --no-start -r --name=djb -- defaults 91 09
	mkdir -p debian/saferdefiance-jumpbox-daemon/usr/sbin/
	cp server/djb debian/saferdefiance-jumpbox-daemon/usr/sbin/
	mkdir -p debian/saferdefiance-jumpbox-daemon/usr/share/saferdefiance/
	cp server/djb.torrc debian/saferdefiance-jumpbox-daemon/usr/share/saferdefiance/
	mkdir -p debian/saferdefiance-jumpbox-daemon/var/cache/saferdefiance/djb/tor/

	# PLUGIN
	mkdir -p debian/saferdefiance-jumpbox-chromium-plugin/usr/lib/chromium-browser/plugins
	cp -R plugin/chrome/ debian/saferdefiance-jumpbox-chromium-plugin/usr/lib/chromium-browser/plugins/saferdefiance-jumpbox-chromium-plugin/

override_dh_auto_test:

