#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	make clean

override_dh_auto_build:
	make all

override_dh_auto_install:
	dh_installinit --no-start -r --name=djb -- defaults 91 09
	mkdir -p debian/saferdefiance-jumpbox-daemon/usr/sbin/
	cp server/djb debian/saferdefiance-jumpbox-daemon/usr/sbin/

	mkdir -p debian/saferdefiance-jumpbox-plugin/usr/lib/chromium-browser/plugins
	cp -R plugin/chrome/ debian/saferdefiance-jumpbox-plugin/usr/lib/chromium-browser/plugins/saferdefiance-jumpbox-plugin/

override_dh_auto_test:

